<h1>🚘 Detalle del anuncio</h1>

<ul>
  <li><strong>Conductor:</strong> {{ anuncio.conductor }}</li>
  <li><strong>Sector:</strong> {{ anuncio.get_sector_display }}</li>
  <li><strong>Desde:</strong> {{ anuncio.desde_donde }}</li>
  <li><strong>Hasta:</strong> {{ anuncio.hacia_donde }}</li>
  <li><strong>Hora de salida:</strong> {{ anuncio.hora_salida }}</li>
  <li><strong>Hora de llegada:</strong> {{ anuncio.hora_llegada }}</li>
  <li><strong>Teléfono de contacto:</strong> {{ anuncio.numero_contacto }}</li>
</ul>